<h1>{{ data }} {{ title }}</h1>
<p>{{ getValue() }}</p>
<p>{{ data == "hello" ? "xyz" + 2 + 2 : "abc" }}</p>
<button (click)="getName('daniyal')">Click Me</button>
<app-login></app-login>
<br />
<input
  type="text"
  placeholder="Event key up"
  #box
  (keyup)="getData(box.value)"
/>
<input
  type="text"
  placeholder="Event key down"
  #box1
  (keydown)="getData(box1.value)"
/>
<input
  type="text"
  placeholder="Event blur"
  #box2
  (blur)="getData(box2.value)"
/>
<br /><br />
<button>Get Data</button>
<br /><br />
<input
  type="text"
  placeholder="Enter Name"
  #name
  (keyup)="getNameValue(name.value)"
  name="name"
/>
<p>{{ displayName }}</p>
<button (click)="getNameValue(name.value)">Get Name Value</button>
<br /><br />

<h1>Counter</h1>
<button (click)="counter('sub')">--</button>
<p>{{ count }}</p>
<button (click)="counter('add')">++</button>

<br /><br />
<input
  type="text"
  name="username"
  value="{{ username }}"
  disabled="{{ disabled }}"
/>
<br /><br />
<input type="text" name="username" [value]="username" [disabled]="disabled" />
<br /><br />

<!-- 
<h1 *ngIf="show; else elseBlock">
  If - Statement
</h1>

<ng-template #elseBlock>
  <h1> Else - Statement</h1>
</ng-template> -->

<span *ngIf="show; then ifBlock; else elseBlock"></span>
<ng-template #ifBlock>
  <h1>If - Statement</h1>
</ng-template>

<ng-template #elseBlock>
  <h1>Else - Statement</h1>
</ng-template>
